.portal-top {
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 800;
    text-shadow: 0 0 20px #666;
    font-size: 1.9em;
    color: #fff;
}

